.projectsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .projectsTitle {
        text-align: center;
        color: #3e497a;
        font-size: 60px;
        font-weight: bolder;
    }
}
  
.projectsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
  
  @media only screen and (max-width: 1300px) {
    .projectsList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectsList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectsList {
      width: 100%;
    }
  }